<html>
    <head>
        <title> Wetirc - IRC Logger & viewer | IRC Log Service | code by Kracekumar </title>
    </head>
    <body>
        <section class="menu">
            {% block menu %}
            {% endblock %}
        </section>
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
        <section class="footer">
            {% block footer %}
            {% endblock %}
        </section>
        <section class="js">
            {% block js %}
            {% endblock %}
        </section>
    </body>
</html>